fastapi
uvicorn
pandas
openpyxl
jinja2
matplotlib
numpy
python-multipart
lifelines
scikit-learn
statsmodels
shap
scikit-survival
scipy
seaborn
python-docx
httpx
pyarrow
autograd
autograd-gamma==0.4.2
pyyaml
tabulate
pytest
pytest-asyncio
pytest-timeout
